body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('../asset/fondo.jpeg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Para que el fondo no interfiera con el contenido */
}

.login-form {
    background-image: url('../asset/fondo4.jpg'); /* Ruta a tu otra imagen para el formulario */
    background-size: cover;
    background-position: center;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    margin: 100px auto; /* Ajusta según sea necesario para centrar verticalmente */
    width: 600px;
}